
.cursor_parent{

    height: 100%;
    width: 100%;
    /* background-color: yellow; */

    position: relative;


}

.cursor_overflow{
    position: absolute;
    color: transparent ;
    height: 100%;
    width: 100%;


    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: greenyellow; */


}
