
.cursor_parent{

    height: 100%;
    width: 100%;
    /* background-color: yellow; */

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;


}

.cursor_overflow{
    position: absolute;
    color: transparent ;
   
    width: 100%; 


    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: greenyellow; */


}
