*{
    margin: 0;
    padding: 0;

    overflow-x: hidden;
    /* overflow-y: auto; */

}














body{

    background-color: black;

    width: 100vw;



    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    /* min-height: 100vh; */
    /* height: 100vh; */
    /* overflow: scroll; */

    overflow: hidden;

    /* overflow: scroll; */




}


nav{
    width: 100vw;
    height: 10vh;
    /* background-color: blue; */

    position: fixed ;
    /* left: 0; */
    /* top: 0; */

    display: flex;
    justify-content: center;
    align-items: center;

    /* cursor: pointer; */

    z-index: 10;
    

}

#page1{

    width: 100vw;
    height: 100vh;
    /* background-color: red ; */

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    overflow: hidden;
    

}



#page2{
    width: 100vw;
    height: 50vh;

    background-color: green;

    
    
}


footer{
    width: 100vw;
    height: 50vh;

    background-color: yellow;

    
}





#page1>.myname{

    height: 65%;
    width: 100%;
    /* background-color: pink  ; */

}



section>.basicinfo{
    height: 15%;
    width: 100%;
    /* background-color: grey; */

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* gap: 5%; */
}




section>.basicinfo>div{

    height: 30%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content:center;
    align-items: center;

}



section>.basicinfo>.box1{

    font-family: kanit , roboto;
    font-size: 3rem;
    color: rgb(114, 113, 113);
    font-weight: 600;
}


section>.basicinfo>.box3>i{
    font-size: 3rem;
    color: white;
    font-weight: 800;

}


@media screen and (max-width : 600px) {

    section>.basicinfo>.box1{

     
        font-size: 5rem;
      
    }
    
    
    section>.basicinfo>.box3>i{
        font-size: 5rem;
       
    
    }
    
    
}

@media screen and (max-width : 300px) {

    section>.basicinfo>.box1{

     
        font-size: 10rem;
      
    }
    
    
    section>.basicinfo>.box3>i{
        font-size: 10rem;
       
    
    }
    
    
}