*{
    margin: 0;
    padding: 0;

    overflow-x: hidden;

}














body{

    background-color: black;

    width: 100vw;



    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;


}


nav{
    width: 100vw;
    height: 10vh;
    /* background-color: blue; */

    position: fixed ;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

}

section{

    width: 100vw;
    height: 100vh;
    /* background-color: red ; */

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

}

footer{
    width: 100vw;
    height: 50vh;

    background-color: yellow;
}





section>.myname{

    height: 80%;
    width: 100%;
    /* background-color: pink  ; */

}



section>.basicinfo{
    height: 10%;
    width: 100%;
    /* background-color: grey; */
}