*{
    margin: 0;
    padding: 0;

    overflow-x: hidden;

}














body{

    background-color: black;

    width: 100vw;



    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;


}


nav{
    width: 100vw;
    height: 10vh;
    /* background-color: blue; */

    position: fixed ;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

}

section{

    width: 100vw;
    height: 100vh;
    background-color: black;

}

footer{
    width: 100vw;
    height: 50vh;

    background-color: yellow;
}







